body {
    background-color: #d9d9d9
}
.navBG {
    background-color: #2c3e50;
}
#fbBackground {
    background: url(/images/output-onlinehextools.jpg) no-repeat;
    background-size: 100% auto;
    background-attachment: fixed;
    background-position: center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
.btnWide {
    width: 100%;
}

.blue {
    background-color: blue;
    width: 100%;
}
.maxWidth{
    max-width: 80%;
}

.red {
    color:red;
    font-weight:bold;
}
.green {
    color: green;
    font-weight: bold; 
}

.purple {
    background-color: purple;
    width: 100%;
}

.txtWide {
    padding-left: 2em;
}

.outputPad {
    padding-top: 2.8em;
}

.inputPad{
    padding-top: 1em;
    padding-bottom: 1em;
}
.kBorder{
    border: 2px solid green;
}
.valBorder{
    border: 2px solid blue;
}
.buttonRound {
    border-radius: 8px;
}

.input2Pad{
    padding-top:1em;
}