body {
}
.btnWide {
    width: 100%;
}

.blue {
    background-color: blue;
    width: 100%;
}
.maxWidth{
    max-width: 60%;
}

.red {
    color:red;
    font-weight:bold;
}
.green {
    color: green;
    font-weight: bold; 
}

.purple {
    background-color: purple;
    width: 100%;
}

.txtWide {
    padding-left: 2em;
}

.outputPad {
    padding-top: 2.8em;
}

.inputPad{
    padding-top: 1em;
    padding-bottom: 1em;
}
.kBorder{
    border: 2px solid green;
}
.valBorder{
    border: 2px solid blue
}

.input2Pad{
    padding-top:1em;
}