body {
}
.btnWide {
    width: 100%;
}

.blue {
    background-color: blue;
    width: 100%;
}

.red {
    background-color: red;
    width: 100%;
}

.green {
    background-color: green;
    width: 100%;
    color: white;
}

.purple {
    background-color: purple;
    width: 100%;
}

.txtWide {
    padding-left: 2em;
}

.outputPad {
    padding-top: 2.8em;
}